.grandprix {
  min-width: 500px;
}

#race-header {
  color: #353535;
  font-size: 2em;
  font-weight: 300;
}

.zero-margin {
  margin: 0;
}

.light-text {
  font-weight: 300;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.flex-item {
  flex: 0 0 0%
}

.gp-header {
  text-align: center;
  font-size: 2.8em;
  font-weight: 300;
  margin: 2.5em 0;
  color: #353535;
}

.margin-bottom {
  margin-bottom: 150px;
}
