.tabs-flex {
  display: flex;
  justify-content: center;
}

.tab-results-flex {
  display: flex;
  justify-content: center;
  border-top: 2px solid #ececec;
  width: 50%;
}

.tab {
  margin: 0;
  position: relative;
  text-align: center;
  font-size: 1.5em;
  width: 50%;
  padding: 1.2em 0;
  cursor: pointer;
  overflow: hidden;
  transition: .3s linear all;
  color: #505050;
}

.tab:hover {
  color: #2AB4A5;
}

.tab.active:hover{
  color: #353535;
}

.tab::before {
  transition: .3s linear all;
  content: '';
  position: absolute;
  height: 4px;
  background-color: #2AB4A5;
  top: 0;
}

.tab.race::before {
  left: 0;
  right: 100%;
}

.tab.qualifying::before {
  left: 100%;
  right: 0;
}

.tab.active::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 4px;
  background-color: #2AB4A5;
}

/*
.tab {

}







*/
