.nav-item {
  padding-left: 1em;
  text-decoration: none;
  color: rgba(0,0,0,.75);
  transition: color, .3s cubic-bezier(0.4, 0.0, 0.2, 1);
  margin: 0 0 .5em 0;
}

.nav-item:visited {
  color: rgba(0,0,0,.75);
}

.nav-item:hover {
  color: #1E88E5;
}

.nav-item .grandprix-name {
    margin: 0;
    font-size: 1em;
}

.nav-item .grandprix-time {
    font-size: .8em;
    color: #898989;
}
