.nav {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    width: 10%;
    min-height: 100%;
    flex-direction: column;
    justify-content: space-between;
    -ms-align-items: center;
    align-items: center;
}

.nav {
    padding: 1em 0;
}
.nav-item {
    text-align: center;
}

.nav-item .grandprix-name {
    margin: 0;
    font-size: .9em;
}

.nav-item .grandprix-time {
    font-size: .6em;
    color: #898989;
}
