.nav {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    width: 10%;
    min-height: 100%;
    flex-direction: column;
    justify-content: space-between;
    -ms-align-items: center;
    align-items: center;
}

.nav-item time {
    
}
