.nav {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    min-height: 100%;
    flex-direction: column;
    justify-content: space-between;
    -ms-align-items: left;
    align-items: center;
    padding: 1em 0;
}
